__pycache__
data
*.pth
.vscode
*.egg-info
dist
build
checkpoints
run
text.txt
run*
baselines
*.txt
ours.sh
benchmarks/draw
tests/*.png
tests/*.pdf
modelnet40_ply_hdf5_2048.zip
modelnet40_ply_hdf5_2048
benchmarks/draw
torch_pruning_v1.0
torch_pruning_bak
